<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new student</title>
    <link rel="icon"
          href="http://dou7.edumonch.ru/kartinki/dob.jpg">
    <link rel="stylesheet"
          href="/static/stylesheets/add.css">
    <link rel="stylesheet"
          href="/static/stylesheets/bodyForAll.css">
</head>
<body>
<form th:method="POST" th:action="@{/students}" >
    <label for="name"> Name</label>
    <input type="text" id="name" th:field="${student.name}"/>
    <label for="surname"> Surname</label>
    <input type="text" id="surname" th:field="${student.surname}"/>
    <label for="groupNumber"> Group Number</label>
    <input type="text" id="groupNumber" th:field="${student.groupNumber}"/>
    <input type="text" id="email" th:field="${user.email}">
    <input type="text" id="password" th:field="${user.password}">
    <input type="submit" value="ADD">
    <div style="color: darkred" th:if="${#fields.hasErrors('student.name')}" th:errors="${student.name}"></div>
    <div style="color: darkred" th:if="${#fields.hasErrors('student.surname')}" th:errors="${student.surname}"></div>
    <div style="color: darkred" th:if="${#fields.hasErrors('student.groupNumber')}" th:errors="${student.groupNumber}"></div>
    <div style="color: darkred" th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}"></div>
    <div style="color: darkred" th:if="${#fields.hasErrors('user.password')}" th:errors="${user.password}"></div>
</form>
</body>
</html>