<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'DELETE Group №'+ ${group.id}"></title>
    <link rel="icon"
          href="https://e7.pngegg.com/pngimages/379/773/png-clipart-rubbish-bins-waste-paper-baskets-computer-icons-recycling-wheelie-bin-packaging-icon-text-rectangle.png">
    <link rel="stylesheet"
          href="/static/delete.css">
</head>
<body>
<center>
    <form th:method="DELETE" th:action="@{/groups/{id}(id=${group.id})}" th:object="${group}">
        <h1 style="color:orangered"> Do you really want to delete this group?</h1>
        <h2 th:text="'Group number '+${group.id}"></h2>
        <h2 th:text="'Tutor of this group '+${group.tutorId}"></h2>
        <input type="submit" value="DELETE">
    </form>
</center>
</body>
</html>