<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{type}/{id}(type=${type}, id=${id})}">
    <label for="old">Write old password</label>
    <input type="text" id="old" th:field="${oldPassword.password}"/>
    <label for="new">Write new password</label>
    <input type="text" id="new" th:field="${newPassword.password}"/>
    <input type="submit" value="CHANGE">
</form>
</body>
</html>