<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 403 FORBIDDEN</title>
    <link rel="icon"
          href="https://ak.picdn.net/shutterstock/videos/1011953783/thumb/7.jpg">
    <link rel="stylesheet"
          href="/static/stylesheets/bodyForAll.css">
</head>
<body>

<h1 style="color: red;"> Error 403</h1>
<h2 style="color: red;"> You don't have same rights</h2>
<h2 style="color: red;"> Permission Denied</h2>
<form action="/logout">
    <input type="submit" value="logout">
</form>
<script>
    let deleteBottomList = document.querySelector("input");
    deleteBottomList.style.color = 'red';
    deleteBottomList.style.backgroundColor = 'white';
    deleteBottomList.onmouseleave = () => {
        deleteBottomList.style.color = 'red';
        deleteBottomList.style.backgroundColor = 'white'
    };
    deleteBottomList.onmouseover = () => {
        deleteBottomList.style.color = 'white';
        deleteBottomList.style.backgroundColor = 'red'
    };
</script>
</body>
</html>