<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 401 UNAUTHORIZE</title>
    <link rel="icon"
          href="https://ih1.redbubble.net/image.235708443.8492/flat,1000x1000,075,f.u1.jpg">
    <link rel="stylesheet"
          href="/static/stylesheets/bodyForAll.css">
</head>
<body>

<h1 style="color: red;"> Error 401</h1>
<h2 style="color: red;"> You are UNAUTHORIZE</h2>
<h2 style="color: red;"> Permission Denied</h2>
<h3 style="color: maroon;" th:text="${message}"></h3>
</body>
</html>