<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose to add</title>
    <link rel="icon"
          href="http://dou7.edumonch.ru/kartinki/dob.jpg">
    <link rel="stylesheet"
          href="/static/bodyForAll.css">
    <link rel="stylesheet"
          href="/static/link.css">
</head>
<body>
<h1>Choose student</h1>
<div th:each="tutor:${tutors}">
    <form th:action="@{/groups/addTutor/{id}/{tutorId}(id = ${id}, tutorId = ${tutor.getId()})}"
          th:method="PATCH">
        <input style="color:deepskyblue" type="submit"
               th:value="'ADD ' + ${tutor.getName()}+ ' ' + ${tutor.getSurname()}">
    </form>
</div>
<form th:action="@{/groups/addTutor/{id}(id = ${id})}" th:method="POST" th:object="${tutor1}">
    <label for="name"> Name</label>
    <input type="text" id="name" th:field="*{name}"/>
    <label for="surname"> Surname</label>
    <input type="text" id="surname" th:field="*{surname}"/>
    <label for="qualification"> Qualification</label>
    <input type="text" id="qualification" th:field="*{qualification}"/>
    <input type="submit" value="ADD">
    <div style="color: darkred" th:if="${#fields.hasErrors('name')}" th:errors="${tutor1.name}"></div>
    <div style="color: darkred" th:if="${#fields.hasErrors('surname')}" th:errors="${tutor1.surname}"></div>
    <div style="color: darkred" th:if="${#fields.hasErrors('qualification')}" th:errors="${tutor1.qualification}"></div>
</form>
</body>
</html>